.navbar li {
    float: left;
    list-style: none;
    margin: 10px 14px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 3px 11px;
}

    .navbar li a:hover {
        color: rgb(110, 110, 228);
        /* background-color: rgb(43, 43, 165); */
        /* text-decoration: underline; */
        /* border-radius: 30px; */
    }

.navbar ul {
    overflow: auto;
    border: 2px solid red;
    border-radius: 18px;
}

.navbar {
    background-color: black;
    border-radius: 20px;
}

.search {
    float: right;
    padding: 8px 50px;
}

    .search input {
        border-radius: 9px;
        width: 160px;
        height: 20px;
    }

#box {
    width: 24px;
    height: 22px;
    position: relative;
    top: 6px;
}

#whats {
    height: 80px;
    width: 80px;
}

#face {
    height: 80px;
    width: 80px;
}

#lecturer {
    height: 80px;
    width: 80px;
}

body {
    background: url(https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    margin: auto;
    display: inline-block;
    position: relative;
    left: 334px;
    top: 99px;
}

strong {
    position: relative;
    top: -36px;
    left: 22px;
    font-size: x-large;
}

    strong:hover {
        /* background-color: rgb(0, 102, 255); */
        border-radius: 40px;
        padding: 10px 10px;
        color: brown;
        /* border: 3px solid white; */
        cursor: pointer;
    }

#whats:hover {
    height: 82px;
    width: 82px;
    cursor: pointer;
}

#face:hover {
    height: 82px;
    width: 82px;
    cursor: pointer;
}

#lecturer:hover {
    height: 82px;
    width: 82px;
    cursor: pointer;
}

#design {
    /* float: bottom; */
    display: inline;
    position: relative;
    bottom: -241px;
    right: -161px;
    /* border: 3px solid; */
    padding-top: 68px;
    padding-left: 10px;
    padding-right: 12px;
    /* background-color: lightpink; */
    border-radius: 10px;
}

#des {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 90px;
}

#design:hover {
    cursor: pointer;
}

b {
    position: relative;
    bottom: 19px;
    right: -7px;
    color: rgb(17, 16, 16);
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Pacifico', cursive; */
    /* background-color: rgb(208, 128, 240); */
    font-size: large;
}

.navbar li a.active {
    color: blueviolet;
}

b:hover {
    color: red;
}

@media (max-width: 500px) {
    body {
        color: white;
        width: 360px;
        height: 640px;
        background: url(https://images.pexels.com/photos/1723637/pexels-photo-1723637.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        /* background-size: 100%; */
    }

    .navbar li a {
        width: 150px;
    }

    .box {
        position: absolute;
        top: 274px;
        left: 30px;
        text-align: center;
    }

    /* #design {
                position: absolute;
                top: 760px;
                left: 173px;

            } */


    b {
        color: rgb(18, 19, 18);
    }



    .box {
        display: block;
        text-align: -webkit-center;
        right: -13px;
    }

    #teach {
        position: relative;
        left: 127px;
        top: -57px;
        text-decoration: none;
    }

    .navbar ul {
        padding: 2px 3px;
        /* width: 100px; */
        background-color: black;
    }

    .navbar {
        /* padding: 2px 3px; */
        width: 486px;
        /* background-color: black; */
    }

    .search {
        position: relative;
        left: -39px;
    }

    strong:hover {
        color: brown;
        text-decoration: none;
        /* background-color: none; */
        border: none;
    }

    .navbar {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        width: 350px;
        font-size: 15px;
        height: 69px;
    }

        .navbar li a {
            padding: 0 12px;
            margin: 0;
        }

        .navbar li {
            margin: 0;
            padding: 0;
        }

        .navbar ul {
            padding: 0;
            border: none;
        }

    .search input {
        width: 150px;
        height: 12px;
        font-size: 10px;
    }

    .search {
        position: absolute;
        left: 21px;
        top: 39px;
    }

    #box {
        height: 15px;
        width: 16px;
        right: -2px;
        top: 3px;
    }
    /* #whats{
height: 50px;
width: 50px;
position: relative;
left: -119px;
    top: -113px;

}
#face{
    height: 50px;
width: 50px;
position: relative;
bottom: 90px;
    right: 54px;

}
#lecturer{
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 45px;
    right: 60px;
} */
    strong {
        position: relative;
        top: -135px;
        left: -1px;
        font-size: medium;
    }

    #cyp {
        position: relative;
        top: -107px;
        left: -14px;
    }

    #teach {
        position: relative;
        top: -80px;
        left: -23px;
    }

    b {
        font-size: 20px;
    }

    #des {
        height: 60px;
        width: 60px;
    }

    #design {
        top: 777px;
        left: 64px;
    }

    #num {
        position: relative;
        left: -79px;
    }

    .ph {
        position: relative;
    }
}
