body {
    /* 
            background-repeat: repeat-y;
            background-size: 100%; */
    background-color: black;
}

header::before {
    /* background: url('https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); */
    background: url('https://img.freepik.com/free-photo/symbol-up-text-written-keyboard-button_2227-1499.jpg?size=626&ext=jpg&ga=GA1.2.1419542384.1595229237');
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    z-index: -1;
    opacity: 0.3;
    /* background-repeat: repeat-y ; */
    background-size: cover;
    top: 0;
    left: 0;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 10px 14px;
}

    .navbar li a {
        text-decoration: none;
        color: white;
        padding: 3px 11px;
    }

        .navbar li a.active {
            color: blueviolet;
        }

        .navbar li a:hover {
            color: rgb(110, 110, 228);
            /* background-color: rgb(43, 43, 165); */
            /* text-decoration: underline; */
            /* border-radius: 30px; */
        }

.navbar ul {
    overflow: auto;
    border: 2px solid red;
    border-radius: 18px;
}

.navbar {
    background-color: black;
    border-radius: 20px;
}

.search {
    float: right;
    padding: 8px 50px;
}

    .search input {
        border-radius: 9px;
        width: 160px;
        height: 20px;
    }

#box {
    width: 24px;
    height: 22px;
    position: relative;
    top: 6px;
}

.form {
    margin: auto;
    display: table-caption;
    position: relative;
    left: 400px;
    /* border: 3px solid rgb(50, 42, 165); */
    /* border-radius: 20px; */
    padding: 30px 50px;
}

label {
    font-size: x-large;
    color: rgb(220 39 173);
    /* color: antiquewhite; */
    /* background-color: darkorange; */
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

/* 
        label:hover {
            background-color: rgba(26, 24, 24, 0.897);
            border-radius: 12px;
            padding: 1px 9px;
        } */

.in {
    font-size: x-small;
    border: 1px solid rgb(0, 255, 34);
    /* border-radius: 5px; */
    border-radius: 23px;
    background-color: lightgray;
    color: black;
    position: relative;
    top: 3px;
    width: 289px;
    height: 36px;
    text-align: center;
}

    .in:hover {
        background-color: white;
    }

#submit {
    background-color: indianred;
    border-radius: 20px;
    width: 300px;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

#reset {
    background-color: indianred;
    border-radius: 20px;
    width: 300px;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

    #reset:hover {
        border: 1px solid rgb(0, 255, 34);
        cursor: pointer;
        box-shadow: 3px 3px 10px rgba(172, 255, 47, 0.664);
    }

#submit:hover {
    border: 1px solid rgb(0, 255, 34);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(172, 255, 47, 0.637);
}

#top {
    color: white;
    font-family: cursive;
    font-size: larger;
    margin: 23px;
    padding: 14px 14px;
    background-color: tomato;
    border-radius: 21px;
    width: 256px;
    position: relative;
    right: 20px;
    box-shadow: 5px 6px 12px slateblue;
}

@media (max-width: 500px) {
    body {
        height: 640px;
        width: 360px;
    }

    header::before {
        /* background: url('https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); */
        background: url('https://images.pexels.com/photos/1784578/pexels-photo-1784578.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
        content: "";
        position: absolute;
        width: 105%;
        height: 120%;
        z-index: -1;
        opacity: 0.5;
        /* background-repeat: repeat-y ; */
        background-size: cover;
        top: 0;
        left: 0;
    }

    .form {
        position: absolute;
        top: 195px;
        left: -14px;
    }

    /* .navbar ul{
           width: 80px;
       } */
    ul {
        width: 305px;
        height: 128px;
        background: black;
    }

    label {
        color: rgb(225, 228, 58);
    }

    .navbar {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        width: 350px;
        font-size: 15px;
        height: 69px;
    }

        .navbar li a {
            padding: 4px 6px;
            margin: 0;
        }

        .navbar li {
            margin: 0;
            padding: 0;
        }

        .navbar ul {
            padding: 0;
            border: none;
        }

    .search input {
        width: 150px;
        height: 12px;
        font-size: 10px;
    }

    .search {
        position: absolute;
        right: 13px;
        top: 39px;
        padding: 5px 84px;
    }

    #box {
        height: 15px;
        width: 16px;
        right: -3px;
        top: 3px;
    }

    label {
        font-size: 22px;
    }

    #top {
        margin: 4px;
        position: relative;
        bottom: 102px;
        font-size: 20px;
        right: -2px;
    }

    .in placeholder {
        font-size: 18px;
    }
}